@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    @font-face {
        font-family: "josefinSans";
        src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
    }

    @font-face {
        font-family: "anta";
        src: url("/fonts/Anta-Regular.ttf");
    }
}

::-webkit-scrollbar {
    display: none;
}

body {
    @apply bg-primary text-primaryWhite font-josefinSans select-none;
}

.navbar {
    @apply font-anta
}

::-webkit-scrollbar {
    width: .6rem;
}

::-webkit-scrollbar-thumb {
    transition: all 0.3s ease;
    background-color: #929292;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #837e7e;
}

.timeLine {
    -webkit-appearance: none;
    @apply h-[13px] rounded-xl relative;
}

.timeLine::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply bg-primary size-8;
    border: 1px solid #2C2F33;
    border-radius: 120px;
    box-shadow: inset 5px 5px 8px #1f2124, inset -5px -5px 8px #393d42;
}

.neoM-buttons {
    border-radius: 5px;
    background: #2C2F33;
    box-shadow: 5px 5px 6px #1f2124,
        -5px -5px 6px #393d42;
}

.neoM-bg {
    border-radius: 6px;
    background: #2C2F33;
    box-shadow: inset 5px 5px 8px #1f2124, inset -5px -5px 8px #393d42;
}

.neoM-buttons:active {
    background: #2C2F33;
    box-shadow: inset 5px 5px 8px #1f2124, inset -5px -5px 8px #393d42;
}

.activeNav {
    position: relative;
    opacity: 1 !important;
}

.activeNav::after {
    content: "";
    position: absolute;
    width: 4rem;
    border-radius: 3px;
    height: .1rem;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    background: #0D0E0F;
    box-shadow: inset 5px 5px 8px #0D0E0F, inset -5px -5px 8px #393d42;
}

.mainNav {
    background: #2C2F33;
    box-shadow: inset 5px 5px 8px #1f2124, inset -5px -5px 8px #393d42;
}

.loginAlert::after {
    content: "";
    position: absolute;
    width: .5rem;
    border-radius: 50%;
    height: .5rem;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    background: #DA510B;
    @apply animate-bounce
}


/* loader styles */
.middle {
    background: #2C2F33;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 5px 10px 20px inset #DA510B;
    animation: loader 1.2s linear infinite;
}

.bar1 {
    animation-delay: 0.1s;
}

.bar2 {
    animation-delay: 0.2s;
}

.bar3 {
    animation-delay: 0.3s;
}

.bar4 {
    animation-delay: 0.4s;
}

.bar5 {
    animation-delay: 0.5s;
}

.bar6 {
    animation-delay: 0.6s;
}

.bar7 {
    animation-delay: 0.7s;
}

.bar8 {
    animation-delay: 0.8s;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
    }

    50% {
        transform: scaleY(1);
        background: white;
    }

    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}