@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-primary text-primaryWhite
}

::-webkit-scrollbar {
    width: .6rem;
}

::-webkit-scrollbar-thumb {
    transition: all 0.3s ease;
    background-color: #929292;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #837e7e;
}

.timeLine {
    -webkit-appearance: none;
    @apply h-[13px] rounded-xl relative;
    background: linear-gradient(90deg, #DA510B 50%, #DFDFDF 50%);
}

.timeLine::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply bg-primary size-8;
    border: 1px solid #2C2F33;
    border-radius: 120px;
    box-shadow: inset 5px 5px 8px #1f2124, inset -5px -5px 8px #393d42;
}

.neoM-buttons {
    border-radius: 5px;
    background: #2C2F33;
    box-shadow: 5px 5px 6px #1f2124,
        -5px -5px 6px #393d42;
}

.neoM-bg {
    border-radius: 6px;
    background: #2C2F33;
    box-shadow: inset 5px 5px 8px #1f2124, inset -5px -5px 8px #393d42;
}

.activeNav {
    position: relative;
    opacity: 1 !important;
}

.activeNav::after {
    content: "";
    position: absolute;
    width: 4rem;
    border-radius: 3px;
    height: .1rem;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #DA510B;
}

.mainNav {
    background: #2C2F33;
    box-shadow: inset 5px 5px 8px #1f2124, inset -5px -5px 8px #393d42;
}